.Home {
  background: red;
  position: relative;
  width   : 100%;
  height  : 100%;

  overflow: hidden;

  .ImageSet {
    position: absolute;
    width   : 100%;
    height  : 100%;

    .image {
      position: absolute;
      width   : 100%;
      height  : 100%;

      background-repeat  : no-repeat;
      background-size    : 100vw auto;
      background-position: center center;
    }
  }
}
